#Basket{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: thistle;
}

#shoppingBasket{
    margin: 1rem;
    font-size:30px;
}

#basketCount{
    margin: 1rem;
}