#navbar {
    display: flex;
    justify-content: space-between;
    background-color:#97a97c;
    width:100%;
    align-items: center;
    
}

nav{
    margin: 0px 30px;
    font-size: 1.5rem;
}

.nav-link{
    margin:10px;
}